*{margin: 0;padding: 0;}

.clearfix{overflow: auto;}

a{text-decoration: none;color: red;}

p{margin-bottom: 15px;margin-top: 10px;font-size: 18px; color: #444; }

.wrapper{
	width: 1000px;
	margin: 0 auto;	
}

.top-bar{
	width: 1000px;
	background: #98dde2;
} 

.top-bar-links{
	float: right;
}

.top-bar-links ul{
	list-style: none;
	margin: 20px;
}

.top-bar-links ul li{
	padding: 0 15px;
	display: inline-block;
	border-right: 1px solid black;
}

.top-bar-links ul li a{
	color: black;
}

nav{
	background: #000;
	text-align: center;
	border-radius: 10px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline;
}

nav ul li a{
	color: white;
	text-transform: uppercase;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

nav ul li a:hover{
	color: red;
}

nav ul li  ul li{
	display: none;
}

nav ul li hover ul li{
	display: block;
}

.homecontent{
	width: 1000px;
	background-color: #eee;
}

.homecol{
	width: 313.33px;
	float: left;
	margin-left: 15px;

}

.homecol img{
	width: 313.33px;
}

.homecol h2{
	margin : 30px 0 30px 0;
	font-size: 30px;
	font-weight: normal;
}

.homecol a{
	float: right;
}

.uni img{
	width: 64px;
	border-radius: 50px;
	float: left;
	margin-right: 15px;
}

.quote i{
	float: left;
}

footer{
	width: 1000px;
	margin-top: 15px;
	margin-bottom:15px;
	float: left;
}

.footercol{
	width: 231.25px;
	float: left;
	border-top: 1px solid #000;
	margin-left: 15px;
}

.footercol h3{
	color: #444; 
}

.tweet p{
	font-size: 16px;
}

form input,textarea{
	background: #eee;
	padding: 5px;
	margin-bottom: 5px;
	width: 221.25px;
	border-radius: 5px;
	border: none;
	font-family: inherit;
}

form button{
	background: #eee;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	font-family: inherit;
	font-size: 13px;
	color: black;
}

.copyright{
	width: 1000px;
	background: #eee;
	float: left;
}	
 .left{
 	float: left;
 	margin: 20px;
 }

.right{
	float: right;
	margin: 20px;
}







































.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}