body{
    margin: 0;
    padding: 0;
    background-image: url( <?php echo $img/nsbm.jpg ?>);  
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
    .reg-form{
       width: 480px;
        height: auto;
        position: absolute;
        padding: 10px 25px;
        background: #eee;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        /*border-bottom: 5px solid gray;
        border-radius: 4px;*/
        
    }


    .form{
        width: 100%;
        position: relative;
        margin: 25px auto;
    }
    .input{
        width: 100%;
        height: 50px;
        position: relative;
        margin: 15px auto;
    }
    input[type="text"],
    input[type="password"]{
        width: 100%;
        height: 50px;
        position: relative;
        outline: none;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        font-family: sans-serif,fantasy; 
        color: gray;
    }
    .fa{
        position: absolute;
        right: 5px;
        top: 16px;
        font-size:20px; 
        color: grey; 
    }
    input[type="text"]:focus,
    input[type="password"]:focus{
        border: 2px solid #0AC986; 
    }


   .btn{
    background-color: green;
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 

   }

    .error-msg{
        font-size: 16px;
        font-family: sans-serif,fantasy;
        color: red;
        margin-top: 50px;
        display: none;
    }
    .error{
        position: relative;
        animation: shake 0.2s; 
    }
    @keyframes shake{
        0%, 100%{
            left: 0px;
        }
        20%, 80%{
            left: -15px;
        }
        40%, 60%{
            left: 15px;
        }
    }
   
