body{
    margin: 0;
    padding: 0;
    /* background-image: url( <?php echo $img/nsbm.jpg ?>);  */
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.login-form{
    width: 300px;
    height: auto;
    position: absolute;
    padding: 10px 25px;
    background: #eee;
    right: 2%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 5px solid gray;
    border-radius: 4px;
}
.login-form-1{
    width: 300px;
    height: auto;
    position: absolute;
    padding: 10px 25px;
    background: #eee;
    left: 28%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 5px solid gray;
    border-radius: 4px;
}
.login-face{
    width: 100px;
    height: 100px;
    position: relative;
    background: chartreuse;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 75px;
}
.login-face>img{
    width: 92px;
    height: 80px;
    overflow: hidden;
}
.form{
    width: 100%;
    position: relative;
    margin: 25px auto;
}
.input{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 15px auto;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    height: 50px;
    position: relative;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif,fantasy; 
    color: gray;
}
.fa{
    position: absolute;
    right: 5px;
    top: 16px;
    font-size:20px; 
    color: grey; 
}
input[type="text"]:focus,
input[type="password"]:focus{
    border: 2px solid #0AC986; 
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    background: #0AC986; 
    font-family: sans-serif,fantasy;
    font-size: 16px;
    color: antiquewhite;
    outline: none;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;   
}
.error-msg{
    font-size: 16px;
    font-family: sans-serif,fantasy;
    color: red;
    margin-top: 50px;
    display: none;
}
.error{
    position: relative;
    animation: shake 0.2s; 
}
@keyframes shake{
    0%, 100%{
        left: 0px;
    }
    20%, 80%{
        left: -15px;
    }
    40%, 60%{
        left: 15px;
    }
}

